<div class ="modal-dialog modal-content modal-body">
<%= simple_form_for @item, remote: true do |form|%>
<%= render 'error_messages' %>
<%= form.input :title, class: 'form-control'%>
<%= form.input :due_date%>
<%= form.input :work_time %>
<%= form.input :completed %>
<% form.input :list_id, input_html: {value: :list_id} %>
<%= form.button :submit, name: 'l_id', value: '1', class: 'submit'%>
<% end %>
</div>
