<div class ="modal-dialog modal-content modal-body" id="general-form">
<%= simple_form_for @item, remote: true do |form|%>
<%= render 'error_messages' %>
<%= form.input :title, class: 'form-control'%>
<%= form.input :due_date%>
<%= form.input :work_time %>
<%= form.input :completed %>
<%= form.hidden_field :list_id, value: params[:list_id] %>
<%= form.button :submit,'Submit', class: 'submit', id: "add-item"%>
<%= link_to 'Cancel', items_show_all_records_path(id: params[:list_id]),id: 'add-item', class: 'btn btn-default', remote: true %>
<% end %>
</div>
