<div class ="modal-dialog modal-content modal-body" id="general-form">
<%= simple_form_for @var, remote: true do |form|%>
<%= render 'error_messages' %>
<%= form.input :title, input_html: {value: @item.title}%>
<%= form.input :due_date%>
<%= form.input :work_time, input_html: {value: @item.work_time} %>
<%= form.input :completed, input_html: {:checked => @item.completed}%>
<%= form.button :submit, 'Submit', class: 'submit', id: "update-item" %>
<%= link_to 'Cancel', :back , class: 'cancel-submit' %>
<% end %>
</div>
