<div class ="form">
<%= simple_form_for @var do |form|%>
<!-- <%= form.input :id, input_html: {value: @item.id} %>-->
<%= form.input :title, input_html: {value: @item.title}%>
<%= form.input :creation_date, input_html: {value: @item.expiration_date} %>
<%= form.input :expiration_date%>
<%= form.input :work_time, input_html: {value: @item.work_time} %>
<%= form.input :completed, input_html: {:checked => @item.completed}%>
<%= form.button :submit, 'Submit', class: 'submit' %>
<% end %>
</div>
